# 02. 파이썬 프로그래밍의 기초, 자료형

## 02-1 숫자형

In [1]:
# 숫자형 = 숫자로 이루어진 자료형

### 정수형  ---> 양의 정수, 음의 정수, 0

In [6]:
a = 123
a = -178
a = 0

### 실수형  ---> 소수점이 포함된 숫자

In [7]:
a = 1.2
a = -3.4

In [8]:
a = 4.24E10
a = 4.24e-10

### 8진수와 16진수

In [12]:
# 8진수 = 0o 또는 0O(숫자 0 + 영어 o[소문자], O[대문자]) 로 시작
a = 0o177

In [13]:
# 16진수 = 0x(숫자 0 + 영어 x) 로 시작
a = 0x8ff
b = 0xABC

### 사칙연산

In [16]:
a = 3
b = 4
a+b

7

In [17]:
a*b

12

In [18]:
a/b

0.75

In [19]:
# 제곱 연산자 = **
a**b

81

In [20]:
# 나눗셈 후 나머지 반환 연산자 = %
7%3

1

In [21]:
3%7

3

In [23]:
# 나눗셈 후 몫을 반환하는 연산자 = //
7/4

1.75

In [24]:
7//4

1

In [1]:
14%3

2

In [2]:
14//3

4

## 02-2 문자열 자료형

### 큰따옴표 사용 " "

In [27]:
"Hello World"

'Hello World'

In [28]:
"""Life is too short, you need python"""

'Life is too short, you need python'

### 작은 따옴표 사용 ' '`

In [26]:
'Python is fun'

'Python is fun'

In [29]:
'''Life is too short, you need python'''

'Life is too short, you need python'

In [30]:
food = "Python's favorite food is perl"

In [31]:
food

"Python's favorite food is perl"

In [32]:
food = 'Python's favorite food is perl'
# 오류

SyntaxError: invalid syntax (<ipython-input-32-61b0d4c4378b>, line 1)

In [33]:
say = '"Python is very easy." he says.'

In [54]:
print(say)

"Python is very easy."he says.

In [38]:
food = 'Python \'s favorite food is perl'
say = "\"Python is very easy.\"he says."

In [40]:
food

"Python 's favorite food is perl"

In [41]:
say

'"Python is very easy."he says.'

### 줄바꾸기 \n, 큰따옴표 3개 사용("""...""")

In [48]:
multiline = "Life is too short\nYou need python"

In [55]:
print(multiline)

Life is too short
you nees python

In [50]:
multiline = '''
Life is too short
you nees python
'''

In [56]:
print(multiline)

Life is too short
you nees python

In [57]:
multiline = """
Life is too short
you nees python
"""

In [58]:
print(multiline)

Life is too short
you nees python

In [59]:
# 이스케이프 코드
# \n : 문자열 안에서 줄바꿀때 
# \t : 문자열 사이에 탭 간격 줄때
# \\ : 문자 \를 그대로 표현할때
# \' : 작은따옴표('')를 그대로 표현할때
# \" : 큰따옴표("")를 그대로 표현할때
# \r : 줄바꿈할때(캐리지 리턴 -> 현재 커서를 가장 앞으로 이동)
# \f : 줄바꿈할때(폼 피드 -> 현재 커서를 다음 줄로 이동)
# \a : 벨소리(출력할 떄 '삑'소리남)
# \b : 백스페이스
# \000 : 널 문자

### 문자열 연산

In [3]:
head = "Python"
tail = " is fun!"
head+tail

'Python is fun!'

In [62]:
a = "python"
a * 2

'pythonpython'

In [63]:
# multistring.py
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [64]:
a = "Life is too short"
len(a)

17

In [65]:
b= "you need pythin"
len(b)

15

### 문자열 인덱싱과 슬라이싱

In [258]:
a= "Life is too short, you need python"
a[3]

'e'

In [6]:
a[4]

' '

In [7]:
a[-1]

'n'

In [8]:
a[0]

'L'

In [9]:
a[-0]

'L'

In [10]:
a= "Life is too short, you need python"
b = a[0]+a[1]+a[2]+a[3]
b

'Life'

In [11]:
a= "Life is too short, you need python"
a[0:4]

'Life'

In [12]:
a[0:3]
#  =>>> 0 <= a < 3

'Lif'

In [13]:
a[12:17]

'short'

In [14]:
# 끝번호 생략하면 끝까지 뽑아준다.
a[19:]

'you need python'

In [15]:
# 시작번호 생략하면 처음부터 뽑아준다.
a[:17]

'Life is too short'

In [16]:
# 시작 끝 번호 생략이면 처음부터 끝까지 뽑아준다.
a[:]

'Life is too short, you need python'

In [79]:
a[19:-7]

'you need'

In [80]:
a = "20010331Rainy"
data = a[:8]
weather =a[8:]
data

'20010331'

In [81]:
weather

'Rainy'

In [85]:
a = "20010331Rainy"
year= a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2001
0331
Rainy

In [86]:
# 문제!!
# pithon 을 python 으로 바꾸기
a = "pithon"
a[1]

'i'

In [87]:
# 오류
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [89]:
# 정답
print(a[:1])
print(a[2:])
print(a[:1]+'y'+a[2:])

p
thon
python

### 문자열 포매팅

In [90]:
"I eat %d apples" %3

'I eat 3 apples'

In [93]:
"I eat %s apples" %"five"

'I eat five apples'

In [94]:
# 숫자넣기 : %d , 문자넣기 : %s

In [95]:
number= 3
"I eat %d apples" % number

'I eat 3 apples'

In [96]:
number = 10 
day = "three"
"I eat %d apples. so I was sick for %s days" %(number, day)

'I eat 10 apples. so I was sick for three days'

In [98]:
# 문자열 포맷 코드
# %s : 문자열
# %c : 문자 1개
# %d : 정수
# %f : 부동 소수
# %o : 8진수
# %x : 16진수
# %% : %

In [99]:
# %s 는 자동으로 문자열로 바꾸기 때문에 정수나 소수를 사용해도 상관없다.
print("I have %s apples" %3)
print("rate is %s" %3.234)

I have 3 apples
rate is 3.234

In [100]:
# %를 숫자 뒤에 같이 쓰고 싶으면 %% 쓰기
"Error is %d%%" %98

'Error is 98%'

### 포맷코드 이용해서 정렬과 공백만들기

In [103]:
# 정렬이용
"%10s" % "hi"
# 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 앞은 나머지 공백으로 남겨 두기
# 8개 공백 + 문자 hi

'        hi'

In [102]:
# - 는 왼쪽정렬 
# hi + 8개 공백 + jane
"%-10sjane" % 'hi'

'hi        jane'

In [105]:
# 소수점 표현
# 소수점 네번째 자리까지만 표시
"%0.4f"%3.42134234

'3.4213'

In [106]:
# 전제 길이가 10개인 문자열 공간에서 오른쪽 정렬로 소수점 4째자리까지만 표시
# 4개 공백 + 3.4213
"%10.4f" %3.42134234

'    3.4213'

### format 함수를 사용한 포매팅

In [17]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [18]:
"I eat {0} apples".format("five")

'I eat five apples'

In [19]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [20]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [21]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [22]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

#### 왼쪽정렬

In [23]:
"{0:<10}".format("hi")

'hi        '

#### 오른쪽 정렬

In [24]:
"{0:>10}".format("hi")

'        hi'

#### 가운데 정렬

In [25]:
"{0:^10}".format("hi")

'    hi    '

#### 공백 채우기

In [26]:
"{0:=^10}".format("hi")

'====hi===='

In [27]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [28]:
"{0:-^10}".format("hi")

'----hi----'

#### { }문자 표현

In [29]:
"{{ and }}".format()

'{ and }'

#### f 문자열 포매팅

In [31]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [32]:
name = '홍길동'
age = 30
f'나의 내년이면 {age+1}살이 된다.'

'나의 내년이면 31살이 된다.'

In [33]:
d = {'name':'홍길동', 'age':'30'}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [34]:
f'{"hi":<10}'

'hi        '

In [35]:
f'{"hi":>10}'

'        hi'

In [36]:
f'{"hi":^10}'

'    hi    '

In [37]:
f'{"hi":=^10}'

'====hi===='

In [38]:
f'{"hi":!<10}'

'hi!!!!!!!!'

In [39]:
y = 3.42134234
f'{y:0.4f}'

'3.4213'

In [40]:
f'{y:10.4f}'

'    3.4213'

In [42]:
f'{{ and }}'

'{ and }'

In [44]:
f'{"python":!^12}'

'!!!python!!!'

### 문자열 관련 함수

#### 문자 개수 세기 (count)

In [45]:
a = "hobby"
a.count('b')

2

#### 위치 알려주기 (find)

In [46]:
a = "Python is the best choice"
a.find("b")
# b 가 처음 나오는 위치를 알려줌

14

In [48]:
a.find('k')
# k 가 없으므로 -1이라고 알려줌

-1

#### 위치 알려주기 (index)

In [49]:
a = "Life is too short"
a.index('t')
# t 가 처음 나오는 위치 알려줌

8

In [50]:
# k 가 없으므로 오류
a.index("k")

ValueError: substring not found

#### 문자열 삽입 (join)

In [51]:
",".join('abcd')

'a,b,c,d'

In [52]:
",".join(['a','b','c','d'])

'a,b,c,d'

#### 소문자를 대문자로 바꾸기 (upper)

In [53]:
a = "hi"
a.upper()

'HI'

#### 대문자를 소문자로 바꾸기 (lower)

In [54]:
a = "HI"
a.lower()

'hi'

#### 왼쪽 공백 지우기 (lstrip)

In [56]:
a = " hi  "
a.lstrip()

'hi  '

#### 오른쪽 공백 지우기 (rstrip)

In [57]:
a = "  hi  "
a.rstrip()

'  hi'

#### 양쪽 공백 지우기 (strip)

In [58]:
a = "  hi  "
a.strip()

'hi'

#### 문자열 바꾸기 (replace)

In [59]:
a = "Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

#### 문자열 나누기 (split)

In [60]:
a = "Life is too short"
a.split()
# 공백 기준으로 나눔

['Life', 'is', 'too', 'short']

In [61]:
b = "a:b:c:d"
b.split(':')
# : 기호 기준으로 나눔

['a', 'b', 'c', 'd']

## 02-3 리스트 자료형

In [62]:
# 리스트 만들기 
odd = [1,3,5,7,9]

In [63]:
a = []
b = [1,2,3]
c = ['Lfie','is','too','short']
d = [1,2,'Life','is']
e =[1,2,['Life','is']]

### 리스트의 인덱싱과 슬라이싱

#### 인덱싱

In [64]:
a = [1,2,3]
a

[1, 2, 3]

In [65]:
a[0]

1

In [66]:
a[0]+a[2]

4

In [67]:
a[-1]

3

In [68]:
a = [1,2,3,['a','b','c']]

In [69]:
a[0]

1

In [71]:
a[-1]

['a', 'b', 'c']

In [72]:
a[-1][0]

'a'

In [74]:
a[-1][1]

'b'

In [75]:
a[-1][2]

'c'

In [76]:
a = [1,2, ['a','b', ['Life', 'is']]]

In [77]:
a[2][2][0]

'Life'

#### 슬라이싱

In [78]:
a = [1,2,3,4,5]

In [79]:
a[0:2]

[1, 2]

In [80]:
a = '12345'

In [81]:
a[0:2]

'12'

In [83]:
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]

In [84]:
b

[1, 2]

In [85]:
c

[3, 4, 5]

In [86]:
a = [1,2,3, ['a','b','c'], 4,5]

In [87]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [88]:
a[3][:2]

['a', 'b']

### 리스트 연산하기

In [89]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [90]:
a =[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [91]:
a =[1,2,3]
len(a)

3

In [92]:
a = [1,2,3]
a[2] =4
a

[1, 2, 4]

In [93]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [94]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

### 리스트 관련 함수

#### 리스트에 요소 추가 (append)

In [96]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [97]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

#### 리스트 정렬 (sort)

In [98]:
a =[1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [99]:
a = ['a','b','c']
a.sort()
a

['a', 'b', 'c']

#### 리스트 뒤집기 (reverse)

In [100]:
a = ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

#### 위치 반환 (index)

In [101]:
a = [1,2,3]
a.index(3)
# 3은 인덱스 a[2]의 위치에 있다.

2

In [102]:
a.index(1)
# 1은 인덱스 a[0]의 위치에 있다.

0

#### 리스트에 요소 삽입 (insert)

In [104]:
a = [1,2,3]
a.insert(0,4)
a
# a[0] 위치에 4 삽입

[4, 1, 2, 3]

In [105]:
a.insert(3,5)
a
# a[3] 위치에 5 삽입

[4, 1, 2, 5, 3]

#### 리스트 제거 (remove)

In [107]:
a = [1,2,3,1,2,3]
a.remove(3)
a
# 3이 2개일 경우 첫번째 3만 삭제

[1, 2, 1, 2, 3]

In [108]:
a.remove(3)
a

[1, 2, 1, 2]

#### 리스트 요소 끄집어내기 (pop)

In [110]:
a = [1,2,3]
a.pop()
# 맨 마지막 요소를 돌려주고 그 요소 삭제

3

In [112]:
a

[1, 2]

In [113]:
a = [1,2,3]
a.pop(1)

2

In [114]:
a

[1, 3]

#### 리스트에 포함된 요소 x의 개수 세기 (count)

In [115]:
a = [1,2,3,1]
a.count(1)

2

#### 리스트 확장 (extend)

In [116]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [117]:
b =[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형

In [118]:
# 리스트는 []로 튜플은 ()로
# 리스트는 값을 생성, 삭제, 수정 가능하지만 튜플은 불가능

In [120]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b', ('ab','cd'))
# (1,) 1개 요소만 가질때 , 붙여주기
# () 생략 가능

### 튜플 다루기

#### 인덱싱하기

In [121]:
t1 = (1,2, ',a','b')
t1[0]

1

In [122]:
t1[3]

'b'

#### 슬라이싱하기

In [123]:
t1 = (1,2, 'a','b')
t1[1:]

(2, 'a', 'b')

#### 튜플 더하기

In [124]:
t2 = (3,4)
t1+ t2

(1, 2, 'a', 'b', 3, 4)

In [127]:
a = (1,2,3)
a+(4,)

(1, 2, 3, 4)

#### 튜플 곱하기

In [125]:
t2 * 3

(3, 4, 3, 4, 3, 4)

#### 튜플 길이 구하기

In [126]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

## 02-5 딕셔너리 자료형

In [128]:
# 딕셔너리 자료형 : 대응 관계를 나타내는 자료형 
# ex) '이름' = '홍길동','people' = '사람' 등
# key를 통해 value를 얻음

In [129]:
dic = {'name':'pey','phone':'01071170739','birth':"1230"}

In [130]:
a = {a:'hi'}

In [131]:
a = {'a':[1,2,3]}

### 딕셔너리에 쌍 추가, 삭제하기

In [132]:
a = {1:'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [133]:
a['name'] ='pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [134]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [135]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리에서 Key 사용해 Value 얻기

In [136]:
grade = {'pey':10, 'julliet':99}
grade['pey']

10

In [137]:
grade['julliet']

99

In [138]:
a = {1:'a',2:'b'}
a[1]

'a'

In [139]:
a[2]

'b'

In [141]:
a = {'a':1,'b':2}
a['a']

1

In [142]:
a['b']

2

In [143]:
dic = {'name':'pey', 'phone':'01071170739','birth':'1230'}
dic['name']

'pey'

In [144]:
dic['phone']

'01071170739'

In [145]:
dic['birth']

'1230'

In [146]:
# Key 값이 고유한 값이므로 중복되는 Key 값은 하나를 제외하고는 무시됨
a = {1:'a',1:'b'}
a

{1: 'b'}

In [147]:
# Key 에는 리스트를 사용 불가
# 튜플은 Key로 사용 가능

### 딕셔너리 관련 함수

#### Key 리스트 만들기 (keys)

In [148]:
a = {'name': 'pey','phone':'01071170739','brith':'1230'}
a.keys()

dict_keys(['name', 'phone', 'brith'])

In [149]:
for k in a.keys():
    print(k)

name
phone
brith

In [150]:
# 딕셔너리 key 객체 리스트로 변환하기
list(a.keys())

['name', 'phone', 'brith']

#### Value 리스트 만들기 (values)

In [152]:
a.values()

dict_values(['pey', '01071170739', '1230'])

#### Key, Value 쌍 얻기 (items)

In [153]:
a.items()

dict_items([('name', 'pey'), ('phone', '01071170739'), ('brith', '1230')])

#### Key:Value 쌍 모두 지우기 (clear)

In [155]:
a.clear()
a

{}

#### Key로 Value 얻기 (get)

In [156]:
a = {'name':'pey','phone':'01071170739','birth':'1230'}
a.get('name')

'pey'

In [157]:
a.get('phone')

'01071170739'

In [158]:
print(a.get('nokey'))

None

In [159]:
# 오류
print(a['nokey'])

KeyError: 'nokey'

In [160]:
# 딕셔너리 안에 찾으려는 Key 값이 없을 경우 미리 정해 둔 디폴트 값이 대신 아노게 하고 싶을 때
# a.get(x, '디폴트 값')
a.get('foo','bar')

'bar'

#### 해당 Key가 딕셔너리 안에 있는지 조사하기 (in)

In [161]:
a = {'name':'pey','phone':'01071170739','birth':'1230'}
'name' in a

True

In [162]:
'email' in a

False

## 집합 자료형

In [163]:
# set 으로 만들 수 있다.

In [164]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [165]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [166]:
# 중복을 허용하지 않음
# 순서가 없음 (인덱싱 사용 불가)

In [167]:
# 인덱싱 사용하고 싶으면 리스트나 튜플 형태로 변환
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [168]:
l1[0]

1

In [169]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [170]:
t1[0]

1

### 교집합, 합집합, 차집합 구하기

In [171]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

#### 교집합 ( &, intersection)

In [172]:
s1 & s2

{4, 5, 6}

In [173]:
s1.intersection(s2)

{4, 5, 6}

#### 합집합 (| , union)

In [174]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [175]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 차집합 (- , difference)

In [176]:
s1-s2

{1, 2, 3}

In [177]:
s2-s1

{7, 8, 9}

In [178]:
s1.difference(s2)

{1, 2, 3}

In [179]:
s2.difference(s1)

{7, 8, 9}

### 집합 자료형 관련 함수

#### 값 1개 추가하기 (add)

In [180]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

#### 값 여러 개 추가하기 (update)

In [181]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

#### 특정 값 제거하기 (remove)

In [183]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

## 02-7 불 자료형

In [184]:
# 불 자료형(bool) : 참, 거짓 2가지 값만 가지는 자료형

In [185]:
a = True
b = False

In [186]:
type(a)

bool

In [187]:
1==1

True

In [188]:
2>1

True

In [190]:
2<1

False

### 자료형의 참과 거짓

In [191]:
# 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면 거짓. 비어있지 않으면 참
# 숫자형은 0일 때 거짓
# None은 거짓

In [192]:
a = [1,2,3,4]
while a:
    a.pop()

### 불연산

In [193]:
bool('python')

True

In [194]:
bool('')

False

In [195]:
bool([1,2,3])

True

In [196]:
bool([])

False

In [197]:
bool(3)

True

In [198]:
bool(0)

False

## 02-8 자료형의 값을 저장하는 공간, 변수

In [199]:
# 변수이름 = 변수에 저장할 값
# ex) a =1

### 리스트를 복사할 때

In [200]:
a = [1,2,3]
b = a

In [201]:
id(a)

1637180549000

In [202]:
id(b)

1637180549000

In [203]:
a is b

True

In [204]:
a[1] = 4
a

[1, 4, 3]

In [205]:
b

[1, 4, 3]

#### a와 다르게 복사해서 b 만들기

In [206]:
# [:] 사용
a = [1,2,3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [207]:
b

[1, 2, 3]

In [208]:
# copy 모듈 사용
from copy import copy
a = [1,2,3]
b = copy(a)

In [209]:
a

[1, 2, 3]

In [210]:
b

[1, 2, 3]

In [211]:
b is a

False

### 변수를 만드는 여러 가지 방법

In [212]:
a, b = ('python','life')

In [213]:
(a, b) = 'python','life'

In [214]:
[a,b] =['python','life']

In [215]:
a = b = 'python'

In [216]:
a = 3
b = 5
a, b = b, a
a

5

In [217]:
b

3

## 연습문제

#### 1. 홍길동씨의 과목별 점수는 국어=80, 영어=75, 수학=55다. 홍길동씨의 평균 점수는?

In [219]:
(80+75+55)/3

70.0

#### 2. 자연수 13이 홀수인지 짝수인지 판별해라

In [221]:
13%2
# 2로 나눴을 경우 나머지가 0이면 짝수, 나머지가 1이면 홀수

1

#### 3. 홍길동씨의 주민등록번호는 881120-1068234이다. 주민등록번호를 연월일부분과 그 뒤 숫자부분으로 나눠서 출력해라

In [226]:
pin = "881120-1068234"
yyyymmdd = "19"+ pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068234

#### 4. 주민등록번호 뒷자리의 맨 첫번째 숫자는 성별을 나타낸다. 881120-1068234에서 성별을 나타내는 숫자를 출력해라

In [230]:
pin = "881120-1068234"
print(pin[7])

1

#### 5. 다음과 같은 문자열 a:b:c:d 가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해라

In [231]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

#### 6. [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어보자

In [234]:
a = [1,3,5,4,2]
a.sort()  # 1,2,3,4,5 로 변경
a.reverse() # 5,4,3,2,1로 변경
print(a)

[5, 4, 3, 2, 1]

#### 7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해라

In [238]:
a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

#### 8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해라

In [240]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

#### 9. 다음과 같은 딕셔너리 a 가 있다.  a = dict()  a  다음 중 오류가 발생하는 경우는?

In [241]:
a = dict()
a

{}

In [242]:
a['name'] = 'python'

In [243]:
a[('a',)] = 'python'

In [244]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

In [245]:
a[250] = 'python'

#### 10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해라

In [251]:
a = {'A':90, 'B':80, 'C':70}
result = list(a.values()).pop(1)
print(a)
print(result)

{'A': 90, 'B': 80, 'C': 70}
80

#### 11. a 리스트에서 중복 숫자를 제거해라

In [255]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aset = set(a)
b = list(aset)
print(b)

[1, 2, 3, 4, 5]

#### 12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a,b 변수를 선언한 후 a의 두번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해 설명해라

In [256]:
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]

In [257]:
# 리스트형이라서 주소가 똑같이 생긴다. 그러므로 결과가 같다.